site_name: Documentação - GovInsights
docs_dir: ./Documentacao
theme: 
  name: material
  logo: assets/LOGO.svg
  favicon: assets/LOGO.svg
  palette: 
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
extra_css:
  - stylesheets/extra.css
repo_url: https://github.com/unb-mds/2025-1-Squad10/
repo_name: 'GovInsights'
