
body, .stApp {
    background-color: #0F1020; /*cor do fundo*/
    font-family: 'Segoe UI', sans-serif;
    color: #ffffff; /*tetxo do tipulo*/
    opacity: 0.9; 
}

/*  SIDEBAR  */
section[data-testid="stSidebar"] {
    background-color: #0C3248;
    padding: 1.5rem 1rem;
    border-right: 1px solid #0C3248;
    opacity: 0.5; 
}

/* Título da sidebar */
section[data-testid="stSidebar"] h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff; /* cor do texto do sidebar */
    margin-bottom: 2rem;
    margin-top: -40px;
    text-align: center; 
}

/*cores padrões*/

/* Botões da sidebar */
button[kind="secondary"], .stButton > button {
    width: 100%;
    padding: 0.8rem;
    margin: 0.3rem 0;
    background-color: #0F1020; /*cor dos botões*/
    border: none;
    border-radius: 10px;
    color: #ffffff; /*escrita dos bottões*/
    font-weight: 500;
    transition: 0.3s;
}


/*hover botões*/
button[kind="secondary"]:hover, .stButton > button:hover {
    background-color: #2BB17A;
    color: #0F1020;
}


/*cores padrões*/



/* Caixa de busca */
input[type="text"], .stTextInput input {
    background-color: #0F1020;
    border: none;
    color: #0F1020;
    padding: 0.5rem;
    border-radius: 8px;
}

/*  TÍTULO PRINCIPAL  */
h1, h2 {
    color: #ffffff;
    font-weight: bold;
}

h1.titulo {
    font-size: 2.2rem;
    padding: 1.2rem 2rem 0.5rem;
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
}

/*  MÉTRICAS (CARDS)  */
[data-testid="metric-container"] {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid #0F1020;
    margin-bottom: 1rem;
}

[data-testid="metric-container"] h1 {
    font-size: 1.6rem;
    font-weight: bold;
}

[data-testid="stMetricDelta"] {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

[data-testid="stMetricDeltaPositive"] {
    background-color: #0F1020;
    color: #0F1020;
}

[data-testid="stMetricDeltaNegative"] {
    background-color: #ffffff;
    color: #ffffff;
}/*cores padrões*/

/*  PAINEL DE TEXTO  */
.painel {
    background-color: #0F1020;
    border: 1px solid #ffffff;
    padding: 1.2rem;
    border-radius: 12px;
    color: #ffffff;
    font-size: 0.95rem;
}/*cores padrões*/



/*  INDICADOR DE VELOCIDADE  */
.valor-indicador {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-top: 1rem;
}/*cores padroes */ 

/*  GRAFICO LINHAS  */
.stPlotlyChart {
    background-color: #0F1020;
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid #ffffff;
} /*cores padroes */

/* Remove espaço extra entre elementos */
.css-1kyxreq, .block-container {
    padding: 1rem 2rem;
}

/* Remove padding/margem que causa a barra branca no topo 
.css-18ni7ap.e8zbici2 {
    padding-top: 0rem !important;
}
*/


 /*Remove header invisível que deixa espaço */
header {
    visibility: hidden;
    height: 0px !important;
    position: absolute;
    top: 50px;
} 



.card-metrica {
    background: #0F1020;
    border: 1px solid rgba(255, 255, 255, 0.957);
    border-radius: 12px;
    padding: 15px 20px;
    margin-bottom: 10px;
    color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}

.card-topo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    opacity: 0.8;
    margin-bottom: 5px;
}

.icon {
    font-size: 1.1rem;
}

.valor {
    font-size: 1.7rem;
    font-weight: 600;
}

.variacao {
    margin-top: 4px;
    font-size: 0.9rem;
    font-weight: 500;
    display: inline-block;
    padding: 2px 6px;
    border-radius: 4px;
}

.positivo {
    background-color:#2BB17A;
    color: #ffffff;
}

/* HEADER ESTILIZADO (como na segunda imagem) */
.header-ipea {
    background-color: #0C3248;
    padding: 1.5rem;
    margin: -1rem -1rem 2rem -1rem;
    border-bottom: 1px solid #0C3248;
    border-radius: 10px 10px 0 0;
    opacity: 0.5; 
    
    
}


/*
.header-ipea {
    background-color: #0C3248;
    padding: 1rem 2.5rem;
    border-radius: 10px 10px 0 0;
    margin: -1rem -1rem 2rem -1rem;
    border-bottom: 1px solid #0C3248;
    margin-left: -2.5rem;
    margin-right: -2.5rem;
}
*/
.titulo-ipea {
    color: #0C3248;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0;
}
.subtitulo-ipea {
    color: #0C3248;
    font-size: 1rem;
    margin-top: 0.5rem;
}

/* Restante do seu CSS existente */
.card-metrica {
    background: #0F1020;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: #0C3248;
    margin-bottom: 1rem;
}



            h2 {
                color: white;
                margin-bottom: 1rem;
            }

            label, .stSelectbox label, .stCheckbox label {
                color: white !important;
                font-weight: 500;
            }

            select, .stSelectbox div[data-baseweb="select"] {
                background-color: #1e1e2f;
                color: white;
                border: 1px solid #ccc;
                padding: 6px;
                border-radius: 6px;
                font-size: 14px;
            }

            .exportar {
                background-color: #2BB17A;
                color: #0F1020;
                font-weight: bold;
                border: none;
                border-radius: 10px;
                padding: 0.6rem 1.2rem;
                margin-top: 1rem;
                transition: background-color 0.3s;
                cursor: pointer;
            }

            .exportar:hover {
                background-color: #239765;
                color: white;
            }

            .stCheckbox {
                margin-top: 0.3rem;
                margin-bottom: 0.3rem;
            }